* {
    box-sizing: border-box;
}

html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div.navbar {
    height: 64px;
    width: 100%;
    display: inline-flex;
    
}

header {
    font-size: 32px;
    text-align: center;
    background-color: #FAD61F;
    
}
form {
    border-radius: 50px;
    
}

ul {
    display: flex;
    list-style: none;
}

div.caixa1{
    background: linear-gradient(86.57deg, #FAD61F -3.78%, rgba(250, 214, 31, 0) 174.9%);
    width: 250px;
    height: 250px;
    border-radius: 31px;
    font-size: 12px;
    text-align: center;

}

div.caixa2{
    background: linear-gradient(86.57deg, #FAD61F -3.78%, rgba(250, 214, 31, 0) 174.9%);
    width: 250px;
    height: 250px;
    border-radius: 31px;
    font-size: 12px;
    text-align: center;

}
div.caixa3{
    background: linear-gradient(86.57deg, #FAD61F -3.78%, rgba(250, 214, 31, 0) 174.9%);
    width: 250px;
    height: 250px;
    border-radius: 31px;
    font-size: 12px;
    text-align: center;

}
div.caixa4{
    background: linear-gradient(86.57deg, #FAD61F -3.78%, rgba(250, 214, 31, 0) 174.9%);
    width: 250px;
    height: 250px;
    border-radius: 31px;
    font-size: 12px;
    text-align: center;

}
.listagem {
    display: flex;


}