@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

nav {
    list-style: none;
    height: 64px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAD61F;
    padding: 30px 16px;

}

header {
    font-size: 32px;
    text-align: center;
    background-color: #FAD61F;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
form.pesquisa {
    border-radius: 510px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.caixa1{
    background: linear-gradient(86.57deg, #FAD61F -3.78%, rgba(250, 214, 31, 0) 174.9%);
    width: 250px;
    height: 250px;
    border-radius: 31px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

div.caixa2{
    background: linear-gradient(86.57deg, #FAD61F -3.78%, rgba(250, 214, 31, 0) 174.9%);
    width: 250px;
    height: 250px;
    border-radius: 31px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
div.caixa3{
    background: linear-gradient(86.57deg, #FAD61F -3.78%, rgba(250, 214, 31, 0) 174.9%);
    width: 250px;
    height: 250px;
    border-radius: 31px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
div.caixa4{
    background: linear-gradient(86.57deg, #FAD61F -3.78%, rgba(250, 214, 31, 0) 174.9%);
    width: 250px;
    height: 250px;
    border-radius: 31px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.listagem {
    display: flex;


}

@media screen and (min-width: 480px) {

  }